{
    "cmd": "echo '127.0.0.1   {{ mesos_master_hostname }}' >> /etc/hosts && export MESOS_NATIVE_JAVA_LIBRARY=/libmesos.so && ./spark/sbin/start-mesos-dispatcher.sh --master mesos://{{ mesos_master_ipv4 }}:5050 ; while [ true ] ; do echo `date` ; sleep 60 ; done",
    "cpus": {{ spark_cpus }},
    "id": "spark",
    "instances": {{ spark_instances }},
    "mem": {{ spark_mem }},
    "ports": [
        8081,
	7077
    ],
    "container": {
        "type": "DOCKER",
        "docker": {
                "image": "{{ spark_image }}"
        },
        "network": "BRIDGE",
	"portMappings": [
		{
			"containerPort": 8081,
			"hostPort": 0,
			"servicePort": 8081,
			"protocol": "tcp"
		},
		{
			"containerPort": 7077,
                        "hostPort": 0,
                        "servicePort": 7077,
                        "protocol": "tcp"
		}
	]
    }
}
